<html>
  <head>
    <title>Ithamar's Bagrut Exercise</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <h1 class="logo">
      Ithamar Kaplan's Amazing Online Encrypter and Decrypter!
    </h1>

    <div class="container">
      <h2>Caesar's Encryption</h2>
      <form id="caesar-form" action="/caesar" method="POST">
        <label for="caesar-text">Please enter the source text:</label>
        <textarea id="caesar-text" name="text" required></textarea>


        <label for="caesar-direction">Direction:</label>
        <select id="caesar-direction" name="direction">
          <option value="encrypt">Encrypt</option>
          <option value="decrypt">Decrypt</option>
        </select>

        <label for="caesar-step"
          >Please choose the encryption step (Integer), or leave blank for bruteforce (all possible options):</label
        >
        <input type="number" id="caesar-step" name="step"/>  

        <button type="submit">Process</button>
      </form>
    </div>

    <div class="container">
      <h2>AES Encryption</h2>
      <form id="AES-form" action="/aes" method="POST">
        <label for="aes-text">Please enter the source text:</label>
        <textarea
          id="aes-text"
          name="text"
          required
        ></textarea>

        <label name="direction">Direction:</label>
        <select id="direction" name="direction">
          <option value="encrypt">Encrypt</option>
          <option value="decrypt">Decrypt</option>
        </select>

        <button type="submit">Process</button>
      </form>
    </div>

    <div class="container">
      <h2>Rail Fence Encryption</h2>
      <form id="rail-fence-form" action="/zigzag" method="POST">
        <label for="rail-fence-text">Please enter the source text:</label>
        <textarea
          id="rail-fence-text"
          name="text"
          required
        ></textarea>

        <label name="direction">Direction:</label>
        <select id="direction" name="direction">
          <option value="encrypt">Encrypt</option>
          <option value="decrypt">Decrypt</option>
        </select>

        <button type="submit">Process</button>
      </form>
    </div>
    
    <button id="feedbackButton">Give Feedback</button>

    <div id="feedbackPopup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <h2>Feedback</h2>
            <textarea id="feedbackText" placeholder="Enter your feedback here..."></textarea>
            <button id="submitFeedback">Submit</button>
        </div>
    </div>

  </body>
</html>
